#files Docker will ignore during build
.dockerignore
.env
.git
.gitignore
.vs
.vscode
docker-compose*.yml
*.md
hosts
LICENSE
*.testsettings
**/bin/
**/obj/
**/node_modules/
**/bower_components/
**/wwwroot/lib/
global.json
**/appsettings.localhost.json
node_modules
build
Dockerfile
Dockerfile.prod
