.App {
  /* constants*/
  --DARK-GREEN: rgb(3,171,3);
  --LIGHT-GREEN: rgb(0,230,0);
  --GRAY: rgb(82,82,91);
  --LIGHT-GRAY: rgb(228,228,231);
  --THIN-BORDER: 1px solid black;       /*Can be used for example in tables, use the thin border inside a table*/
  --MEDIUM-BORDER: 2px solid black;     /*Can be used for example in tables, use the medium border around a table*/
}

.mediumBorder{
  border: var(--MEDIUM-BORDER)
}

.thinBorder{
  border: var(--THIN-BORDER)
}

.noMargin{
  margin: 0;
}

.darkButton {
  background-color: black;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 9999px;
  border: 0;
  margin-left: 2px;
}

.darkButton:hover {
  background-color: var(--GRAY);
}

.scroll{
  overflow-y: scroll;
  scrollbar-color: black var(--LIGHT-GRAY);
  scrollbar-width:thin;
}

.content {
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 5%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}